@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  background: url('./images/BG.jpg');
  text-align: center;
}

.editBox {
  border-top: black;
  text-align: center;
}

h1 {
  font-style: italic;
  margin-top: 25px;
  margin-bottom: 12px;
}
