@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  background: url('./images/BG.jpg');
  text-align: center;
}

.editBox {
  border-top: black;
  text-align: center;
  margin-top:10px;
}

h1 {
  font-style: italic;
  margin-top: 25px;
  margin-bottom: 12px;
}

.left {
  position:relative;
  text-align: center;
  margin-right: 100px;
}

.AddButton{
  margin-top: 55px;
  margin-bottom: 15px;
}

.RemoveButton{
 margin-top:10px; 
 margin-bottom: 305px;
}


